.app,
.app-dark {
  overflow: auto;
  height: 100vh;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.app-dark {
  color: rgb(238, 232, 223);
  background-color: #1d1c1c;
}

.card {
  border: 1px solid rgb(3, 26, 1);
  width: 15rem;
  box-shadow: 5px 3px 5px rgb(198, 42, 42);
  padding: 0 0 0 10px;
  display: inline-block;
  margin: 10px;
}

.app-dark .card {
  border: 1px solid rgb(255, 255, 254);
  box-shadow: 5px 3px 5px rgb(198, 180, 42);
}

.card img {
  border-radius: 10%;
  margin: 15px 0 0 10px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

.app-dark .footer {
  background-color: #e2d9d9;
  color: rgb(35, 31, 31);
}

a {
  text-decoration: none;
}

.app-dark a {
  color: #9bc4e2;
}

.app-dark a:hover {
  color: #7ba4c1;
}

a.active {
  color: #ff0000;
}

.app-dark a.active {
  color: #ff6666;
}

.todo-input {
  font-size: 1rem;
  border: 1px solid rgb(37, 32, 32);
}

.todo-task {
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #e8d1d1;
  margin-bottom: 5px;
  display: flex;
  border: 3px solid rgb(166, 136, 136);
  min-width: 300px;
  border-radius: 15px;
}

.app-dark .todo-task {
  border: 3px solid rgb(167, 163, 163);
  background-color: #333;
}

.todo-text {
  flex: 1;
  margin-right: 40px;
  max-width: 800px;
  overflow-x: auto;
}

.digital-clock-container {
  background-image: url(./assets/zootman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 60vh;
}

.digital-clock-container h3 {
  padding: 20px;
  text-align: center;
}

.digital-clock {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  backdrop-filter: blur(3px);
  text-shadow: 3px 3px 5px hsla(46, 88%, 46%, 0.75);
}

.box {
  padding: 20px;
  margin: 10px;
  border: 2px solid rgb(35, 31, 31);
}

.app-dark .box {
  border-color: #e2d9d9;
}

.stop-watch-controls {
  display: flex;
  justify-content: center;
  margin: 20px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 14px;
  transition: border-color 0.8s ease;
}

.app-dark .stop-watch-controls {
  border-color: white;
}

.stop-watch-controls input {
  margin: 0 10px;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: color 0.8s ease;
}

.stop-watch-controls input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.stop-watch-controls input[value="Start"] {
  background-color: #38d83e;
  color: white;
}

.stop-watch-controls input[value="Stop"] {
  background-color: #f83d2f;
  color: white;
}

.stop-watch-controls input[value="Reset"] {
  background-color: #0095c7;
  color: white;
}

.stop-watch-controls input[value="Flag"] {
  background-color: #ffbf00;
  color: white;
}

.app-dark .stop-watch-controls input {
  color: black;
}

.stop-watch-controls input:hover {
  background-color: #ddd;
}

.dropdownoptions {
  border-radius: 12px;
  padding: 8px 10px;
  border-style: none;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
}

.app-dark .dropdownoptions {
  color: #e2d9d9;
  background-color: #413e3e;
}
@media screen and (max-width: 480px) {
  .digital-clock {
    font-size: 3rem;
  }
  .stop-watch-controls input {
    margin: 0 9px;
    padding: 12px 7px;
  }
}
