.app,
.app-dark {
  overflow: auto;
  height: 100vh;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.app-dark {
  color: rgb(238, 232, 223);
  background-color: #1d1c1c;
}

.card {
  border: 1px solid rgb(3, 26, 1);
  width: 15rem;
  box-shadow: 5px 3px 5px rgb(198, 42, 42);
  padding: 0 0 0 10px;
  display: inline-block;
  margin: 10px;
}

.app-dark .card {
  border: 1px solid rgb(255, 255, 254);
  box-shadow: 5px 3px 5px rgb(198, 180, 42);
}

.card img {
  border-radius: 10%;
  margin: 15px 0 0 10px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

.app-dark .footer {
  background-color: #e2d9d9;
  color: rgb(35, 31, 31);
}

a {
  text-decoration: none;
}

.app-dark a {
  color: #9bc4e2;
}

.app-dark a:hover {
  color: #7ba4c1;
}

a.active {
  color: #ff0000;
}

.app-dark a.active {
  color: #ff6666;
}
.todo-input{
  font-size: 1rem;
  border: 1px solid rgb(37, 32, 32);
}
.todo-task{
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #e8d1d1;
  margin-bottom: 5px;
  display: flex;
  border: 3px solid rgb(166, 136, 136);
  min-width: 300px;
  border-radius: 15px;
}
.app-dark .todo-task{
  border: 3px solid rgb(167, 163, 163);
  background-color: #333;
}
.todo-text{
  flex: 1;
  margin-right: 40px;
  max-width: 800px;
  overflow-x: auto;
}